.main-board__box {
	display: flex;
	justify-content: space-between;
	gap: 38px;

	@media (max-width:$md1+px){
		 flex-direction: column; 
	}
}

.invite {
	flex-basis: 326px;
	margin-left: 35px;
}

.members {
	flex-basis: 492px;
}