.main-aside__gallery {
	max-width: 397px;
	padding: 0 18px;

	@media (max-width:$md2+px){
		  max-width: 100%;
	}
}

.gallery__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 13px;

	@media (max-width:$md2+px){
		// grid-template-columns: repeat(6, 1fr);
		padding: 15px;
		overflow: hidden;
	}
}