.main-aside__gallery {
	max-width: 397px;
	padding: 0 18px;

	@media (max-width:$md2+px){
		  max-width: 100%;
	}
}

.gallery__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 13px;

	@media (max-width:1374px){
		grid-template-columns: repeat(2, 1fr);
	 }

	@media (max-width:$md2+px){
		// grid-template-columns: repeat(6, 1fr);
		padding: 15px;
		overflow: hidden;
	}

	@media (max-width:$md4+px){
		grid-template-columns: repeat(2, 1fr);
	}
}

.gallery__grid-item{
	height: 111px;
	width: 111px;
	border-radius: 10px;
	overflow: hidden;

	position: relative;

	img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
}