.main-aside__slider {
  padding: 20px 18px;
}

// -----------------------------------------------------------------------------
// Настройки слайдера
// -----------------------------------------------------------------------------

.swiper {
  max-width: 365px;
  height: 550px;
  margin-left: 0;

  @media (max-width:1374px){
    width: 300px;
  }

  @media (max-width:1024px){
    width: 380px;
  }

  @media (max-width:$md4+px){
     width: 310px; 
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 13%;
  width: 20px;
  height: 20px;
  background: rgba(196, 196, 196, 0.8);
  border-radius: 50%;


}

.swiper-button-next {
  @media (max-width:$md1+px){
    left: 92%;
    right: auto; 
  }

  @media (max-width:$md2+px){
    left: 92%;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 8px;
  color: $white;
}

// -----------------------------------------------------------------------------
// Images
// -----------------------------------------------------------------------------

.aside-slide__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 39%;
  border-radius: 10px;
  margin-bottom: 27px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width:$md1+px){
    padding-bottom: 50%;
  }
}

.aside-slide__label {
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 1;
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #757575;
  text-align: center;

  width: 85px;
  height: 26px;
  padding: 3px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

// -----------------------------------------------------------------------------
// SVG
// -----------------------------------------------------------------------------

.aside-slide__svg {
  width: 19px;
  height: 16px;
  fill: #3246d3;
}

.aside-slide__icon {
  width: 32px;
  height: 32px;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.aside-slide__icon-svg {
  width: 11px;
  height: 11px;
  fill: #757575;
}

.aside-slide__tag-icon {
  width: 22px;
  height: 16px;
  fill: #757575;
}

#bed {
  stroke: #757575;
}

#building {
  stroke: #757575;
}

// -----------------------------------------------------------------------------
// Typo
// -----------------------------------------------------------------------------

.aside-slide__address {
  margin-bottom: 25px;
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

.aside-slide__author {
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #757575;
}

.aside-slide__price {
  font-family: "Sofia Pro";
  font-weight: 900;
  font-size: 20px;
  line-height: 31px;
  color: #3246d3;
}

.aside-slide__subtitle {
  margin-left: 5px;
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #757575;
}

// -----------------------------------------------------------------------------
// FLEX
// -----------------------------------------------------------------------------

.aside-slide__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.aside-slide__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.aside-slide__icons {
  display: inline-flex;
  align-items: center;
}

.aside-slide__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.aside-slide__tag {
  display: inline-flex;
  align-items: baseline;
  box-shadow: -4px 14px 24px rgba(0, 0, 0, 0.06);
}

// -----------------------------------------------------------------------------
// MAP
// -----------------------------------------------------------------------------

.aside-slide__map {
width: 100%;
position: relative;
border-radius: 10px;
overflow: hidden;
padding-bottom: 34%;

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
}