.main-slide__header {
  margin: 50px 34px 60px 0px;

  @media (max-width: $md3+px) {
    margin: 35px 15px 40px 0px;
  }
}

.main-slide__wrapper {
  position: relative;
  margin: 50px 0px 30px 0px;

  @media (max-width: $md3+px) {
    margin: 35px 0px 40px 0px;
  }
}

// -----------------------------------------------------------------------------
// Настройки табов (внешний вид)
// -----------------------------------------------------------------------------

.tabs-nav {
  position: absolute;
  left: 0;
  top: 13px;
}

.tabs-nav__item {
  cursor: pointer;
  margin-bottom: 50px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 127.7%;
  color: #353646;
  opacity: 0.4;
  transform: rotate(-90deg);

  position: relative;
  transition: all .3s ease-in;
  

  &:before {
    display: none;
    content: url("../images/before-tab.png");
    color: #ff6647;
    position: absolute;
    bottom: 11px;
    left: 7px;
    width: 30px;
    height: 120px;
    transform: rotate(90deg);
    filter: drop-shadow(25px 0px 96px rgba(236, 24, 8, 0.12)) drop-shadow(5px 0px 15.6px rgba(236, 24, 8, 0.24));
  }
}

.tabs-nav__item.is-active {
  color: #ff6647;
  opacity: 1;
  &:before {
    display: block;
  }
}

.tabs__content {
  margin: 0px 0px 0px 70px;
  max-width: 827px;

  @media (max-width: $md1+px) {
    max-width: 100%;
  }

  @media (max-width: $md3+px) {
    max-width: 85%;
  }

  @media (max-width: 320px) {
    max-width: 64%;
  }
}

.tab {
  display: none;
}
.tab.is-active {
  display: block;
}

.tab-2 {
}

// -----------------------------------------------------------------------------
// Верстка содержимого табов
// -----------------------------------------------------------------------------
/*
.slide-content{
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: auto;
}

.slide-content__item {
  flex-basis: 293px;
}
*/
.slide-content__wrap {
  padding: 12px 12px 20px 12px;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 100px 80px rgba(153, 165, 236, 0.05),
    0px 64.8148px 46.8519px rgba(153, 165, 236, 0.037963),
    0px 38.5185px 25.4815px rgba(153, 165, 236, 0.0303704),
    0px 20px 13px rgba(153, 165, 236, 0.025),
    0px 8.14815px 6.51852px rgba(153, 165, 236, 0.0196296),
    0px 1.85185px 3.14815px rgba(153, 165, 236, 0.012037);
}

.slide-content__img {
  margin-bottom: 13px;
  overflow: hidden;
  // width: 268px;
  height: 170px;
  border-radius: 20px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slide-content__title {
  margin-bottom: 7px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 15.7759px;
  line-height: 127.7%;
  color: #353646;
}

.slide-content__location {
  display: inline-flex;
  align-items: center;
  span {
    margin-left: 8px;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 14px;
    line-height: 127.7%;
    color: #353646;
    opacity: 0.4;
  }
}

.slide-content__price {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 127.7%;
  color: #34a59f;
}

.slide-content__svg {
  width: 11px;
  height: 14px;
  fill: #ff6647;
  opacity: 1;
}

.slide-content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// -----------------------------------------------------------------------------
// Верстка слайдера который в табе
// -----------------------------------------------------------------------------

.splide__arrow {
  top: -30%;
  background: transparent;

  @media (max-width: $md3+px) {
    top: -20%;
  }
}

.splide__slide {
  width: 293px !important;
  margin-right: 30px;
}

.splide__pagination__page {
  display: none;
}

.splide__track {
  max-width: 845px !important;
  padding-bottom: 30px;

  @media (max-width: $maxWidthContainer+px) {
    max-width: 865px !important;
  }

  @media (max-width: 1374px) {
    max-width: 555px !important;
  }

  @media (max-width: $md2+px) {
    max-width: 551px !important;
  }

  @media (max-width: $md3+px) {
    max-width: 300px !important;
  }
}

.swiper-slide {
  @media (max-width: $md1+px) {
    // width: 250px !important;
    overflow: hidden;
  }

  @media (max-width: $md2+px) {
    width: 365px !important;
  }

  @media (max-width: $md3+px) {
    width: 365px !important;
  }

  @media (max-width: $md4+px) {
    width: 310px !important;
  }
}

.splide__arrow--prev {
  background-image: url("../../images/prev.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  right: 10%;
  left: auto;

  @media (max-width: 1024px) {
    right: 15%;
  }
}

.splide__arrow--prev svg {
  font-size: 0;
}

.splide__arrow--next svg {
  font-size: 0;
}

.splide__arrow--next {
  background-image: url("../../images/next.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  right: 6%;
}
