@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

@media (max-width: 1452px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

@media (max-width: 1440px) {
  .page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.left-navi {
  -ms-flex-preferred-size: 131px;
      flex-basis: 131px;
}

.main-board {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fcfcfc;
}

.main-aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 397px;
          flex: 1 1 397px;
  min-width: 0;
  background-color: #fefdfa;
}

@media (max-width: 1440px) {
  .main-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 991.98px) {
  .main-aside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/**
 * Basic typography style for copy text
 */
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"), url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/SofiaPro-Regular.woff2") format("woff2"), url("../fonts/SofiaPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/SofiaPro-Black.woff2") format("woff2"), url("../fonts/SofiaPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.icon {
  width: 50px;
  height: 50px;
  margin: .5em;
  fill: blue;
}

#m2 {
  stroke: red;
}

#bed {
  stroke: red;
}

#building {
  stroke: red;
}

/*

<svg class="icon">
  <use xlink:href="sprite.svg#fire"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#group-people"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#heart"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#house"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#location"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#m2"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#nature"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#more"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#person"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#plus"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#power"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#search"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#settings"></use>
</svg>

<svg class="icon">
  <use xlink:href=sprite.svg#telegram"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#tune"></use>
</svg>

<svg class="icon">
  <use xlink:href="#arrow-left"></use>
</svg>

<svg class="icon">
  <use xlink:href="#arrow-right"></use>
</svg>

<svg class="icon">
  <use xlink:href="#bed"></use>
</svg>

<svg class="icon">
  <use xlink:href="#building"></use>
</svg>

<svg class="icon">
  <use xlink:href="#bookmark"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#calendar"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#compass"></use>
</svg>

*/
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-board__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 38px;
}

@media (max-width: 1452px) {
  .main-board__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.invite {
  -ms-flex-preferred-size: 326px;
      flex-basis: 326px;
  margin-left: 35px;
}

.members {
  -ms-flex-preferred-size: 492px;
      flex-basis: 492px;
}

.main-board__box {
  -ms-flex-preferred-size: 435px;
      flex-basis: 435px;
}

.main-board__middle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.left-navi__top {
  position: relative;
  height: 113px;
  background-color: #393D46;
}

.navi-body {
  background-color: #F6F7FB;
  min-height: 100%;
}

.navi-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 56px 0 34px;
}

.navi-body__item {
  cursor: pointer;
  -ms-flex-preferred-size: 77px;
      flex-basis: 77px;
  height: 81px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navi-body__item:last-child {
  text-align: center;
  margin-bottom: 0;
  margin-top: 95px;
}

.navi-body__item:hover .navi-body__link {
  color: #1C295D;
}

.navi-body__item:hover .navi-body__square {
  background-color: #FF6647;
  -webkit-box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
          box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
}

.navi-body__item:hover .icon-navi {
  fill: #fff;
}

.navi-body__square {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: justify;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
}

.icon-navi {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 20px;
  height: 20px;
  fill: #9BAAD3;
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}

.navi-body__link {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Google Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #7987A5;
}

.main-slide__header {
  margin: 50px 34px 60px 34px;
}

.main-slide__wrapper {
  position: relative;
  margin: 50px 0px 60px 34px;
}

.tabs-nav {
  position: absolute;
  left: 0;
  top: 13px;
}

.tabs-nav__item {
  cursor: pointer;
  margin-bottom: 50px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 127.7%;
  color: #353646;
  opacity: 0.4;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.tabs-nav__item.is-active {
  color: #ff6647;
  opacity: 1;
}

.tabs__content {
  margin: 0px 0px 0px 70px;
  max-width: 827px;
}

.tab {
  display: none;
}

.tab.is-active {
  display: block;
}

/*
.slide-content{
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: auto;
}

.slide-content__item {
  flex-basis: 293px;
}
*/
.slide-content__wrap {
  padding: 12px 12px 20px 12px;
  background: #ffffff;
  border-radius: 25px;
}

.slide-content__img {
  margin-bottom: 13px;
  overflow: hidden;
  height: 170px;
  border-radius: 20px;
  position: relative;
}

.slide-content__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-content__title {
  margin-bottom: 7px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 15.7759px;
  line-height: 127.7%;
  color: #353646;
}

.slide-content__location {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-content__location span {
  margin-left: 8px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 127.7%;
  color: #353646;
  opacity: 0.4;
}

.slide-content__price {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 127.7%;
  color: #34a59f;
}

.slide-content__svg {
  width: 11px;
  height: 14px;
  fill: #ff6647;
  opacity: 1;
}

.slide-content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splide__arrow--prev {
  left: auto;
  right: 8%;
}

.splide__arrow {
  top: -30%;
  background: transparent;
}

.splide__slide {
  width: 293px !important;
  margin-right: 30px;
}

.splide__pagination__page {
  display: none;
}

.splide__track {
  max-width: 845px !important;
}

@media (max-width: 1440px) {
  .splide__track {
    max-width: 735px !important;
  }
}

@media (max-width: 991.98px) {
  .splide__track {
    max-width: 515px !important;
  }
}

@media (max-width: 1452px) {
  .swiper-slide {
    overflow: hidden;
  }
}

@media (max-width: 991.98px) {
  .swiper-slide {
    width: 365px !important;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 38px 15px;
  max-width: 330px;
}

.cards__item-wrap {
  width: 99px;
  height: 124px;
  border-radius: 14px;
}

.cards__item-wrap_1 {
  background: #ecfaff;
}

.cards__item-wrap_2 {
  background: #ffefbc;
}

.cards__item-wrap_3 {
  background: #ffe2bf;
}

.cards__item-wrap_4 {
  background: #eeecff;
}

.cards__item-wrap_5 {
  background: #ffe8e8;
}

.cards__item-wrap_6 {
  background: #ddffe9;
}

.cards__item-img {
  width: 28px;
  height: 28px;
  position: relative;
}

.cards__item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards__item-svg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__item-svg_1 {
  background: #B5D9E7;
}

.cards__item-svg_2 {
  background: #F0DB99;
}

.cards__item-svg_3 {
  background: #F3D0A6;
}

.cards__item-svg_4 {
  background: #E0DEFD;
}

.cards__item-svg_5 {
  background: #FCD7D7;
}

.cards__item-svg_6 {
  background: #B1F1C6;
}

.cards-svg {
  width: 10px;
  height: 10px;
  fill: #ffffff;
}

.cards-svg_close {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cards__item-profile {
  position: relative;
  padding: 12px 23px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__item-border {
  margin-bottom: 7px;
  width: 52px;
  height: 52px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(160, 230, 255, 0.2);
          box-shadow: 0px 4px 15px rgba(160, 230, 255, 0.2);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__item-sign {
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cards__item-name {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #010101;
}

.main-aside__gallery {
  max-width: 397px;
  padding: 0 18px;
}

@media (max-width: 991.98px) {
  .main-aside__gallery {
    max-width: 100%;
  }
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}

@media (max-width: 991.98px) {
  .gallery__grid {
    padding: 15px;
    overflow: hidden;
  }
}

.main-aside__slider {
  padding: 20px 18px;
}

.swiper {
  width: 365px;
  height: 630px;
  margin-left: 0;
}

.swiper-button-next,
.swiper-button-prev {
  top: 13%;
  width: 20px;
  height: 20px;
  background: rgba(196, 196, 196, 0.8);
  border-radius: 50%;
}

@media (max-width: 1452px) {
  .swiper-button-next {
    left: 92%;
    right: auto;
  }
}

@media (max-width: 991.98px) {
  .swiper-button-next {
    left: 92%;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 8px;
  color: #fff;
}

.aside-slide__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 39%;
  border-radius: 10px;
  margin-bottom: 27px;
}

.aside-slide__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-slide__label {
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 1;
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #757575;
  text-align: center;
  width: 85px;
  height: 26px;
  padding: 3px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.aside-slide__svg {
  width: 19px;
  height: 16px;
  fill: #3246d3;
}

.aside-slide__icon {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.aside-slide__icon:last-child {
  margin-right: 0;
}

.aside-slide__icon-svg {
  width: 11px;
  height: 11px;
  fill: #757575;
}

.aside-slide__tag-icon {
  width: 22px;
  height: 16px;
  fill: #757575;
}

#bed {
  stroke: #757575;
}

#building {
  stroke: #757575;
}

.aside-slide__address {
  margin-bottom: 25px;
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

.aside-slide__author {
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #757575;
}

.aside-slide__price {
  font-family: "Sofia Pro";
  font-weight: 900;
  font-size: 20px;
  line-height: 31px;
  color: #3246d3;
}

.aside-slide__subtitle {
  margin-left: 5px;
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #757575;
}

.aside-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.aside-slide__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.aside-slide__icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.aside-slide__tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-slide__map {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 34%;
}

.aside-slide__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 28px;
}

.section__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section-title {
  margin-left: 12px;
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  color: #3e3c50;
  opacity: 0.8;
}

.main-aside__gallery .section-title {
  font-family: 'Sofia Pro';
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
  opacity: 1;
}

.section-top__icon {
  width: 24px;
  height: 24px;
  fill: #b1b1b1;
}

.section-dots__icon {
  width: 16px;
  height: 4px;
  fill: #3246D3;
}

.section-dots {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-board__top {
  height: 113px;
  background-color: #F6F7FB;
  padding: 27px 31px 32px 44px;
}

@media (max-width: 767.98px) {
  .main-board__top {
    padding: 15px 10px 15px 10px;
  }
}

.board-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .board-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 15px;
  }
}

.board-top__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.board-top__filter {
  margin-left: 9px;
  width: 52px;
  height: 52px;
  background-color: #F86549;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board-top__filter:hover {
  background-color: #fff;
}

.board-top__filter:hover .board-top__filter-icon {
  fill: #9BAAD3;
}

.board-top__search-icon {
  width: 19px;
  height: 19px;
  fill: #ccc;
}

.board-top__filter-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.board-top__button {
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.board-top__link {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .board-top__link {
    font-size: 22px;
  }
}

.board-top__input {
  outline: none;
  padding: 17px 17px 17px 47px;
  background: #fff;
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02);
  border-radius: 26px;
  width: 326px;
  height: 52px;
  font-family: "Google Sans";
  font-style: 400;
  font-size: 15px;
  line-height: 127.7%;
  color: #afafaf;
}

.board-top__input::-webkit-input-placeholder {
  font-family: "Google Sans";
  font-style: 400;
  font-size: 15px;
  line-height: 127.7%;
  color: #afafaf;
}

.board-top__input:-ms-input-placeholder {
  font-family: "Google Sans";
  font-style: 400;
  font-size: 15px;
  line-height: 127.7%;
  color: #afafaf;
}

.board-top__input::-ms-input-placeholder {
  font-family: "Google Sans";
  font-style: 400;
  font-size: 15px;
  line-height: 127.7%;
  color: #afafaf;
}

.board-top__input::placeholder {
  font-family: "Google Sans";
  font-style: 400;
  font-size: 15px;
  line-height: 127.7%;
  color: #afafaf;
}

@media (max-width: 991.98px) {
  .board-top__input {
    width: 250px;
    padding: 15px 15px 15px 44px;
  }
}

@media (max-width: 767.98px) {
  .board-top__input {
    width: 180px;
  }
}

/*
==========================================================
В Хедере нужно чтобы была такая обертка:

.header__menu

внутри сам бургер 

<div class="icon-menu">
<span></span>
<span></span>
<span></span>
</div>

и ниже пункты меню, которые уберутся в бургер

nav.menu__body
  ul
    li
      a

*/
.menu__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
}

.menu__body.burger-active {
  left: 0;
}

.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
}

.header__menu-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.header__menu-item {
  padding: 20px;
  margin: 20px;
}

.icon-menu {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 12px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.664);
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  width: 50%;
  bottom: 0px;
}

.icon-menu:hover span:last-child {
  width: 100%;
}

.icon-menu.burger-active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.icon-menu.burger-active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu.burger-active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

/*
.menu {
  &__list {
    @media (min-width: $md3+px) {
      display: flex;
      align-items: center;
    }

    & > li {
      position: relative;
      margin: 0px 0px 0px 20px;

      @media (min-width: $md3+px) {
        padding: 10px 0;
      }
    }
  }

  // верстка самих пунктов меню

  &__link {
    color: #fff;
    font-size: 18px;
  }

  &__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;

    @media (min-width: $md3+px) {
      transform: translate(0px, 10%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }
  }

  &__sub-item {
    margin: 0px 0px 10px 0px;

    &:last-child {
      margin: 0;
    }
  }

  &__sub-link {
    color: #fff;
  }

  &__arrow {
	  display: none;
  }
}


==========================================================
если устройство - ноут или комп, то подменю показывается как обычно при наведении мышкой
если устройство - телефон, появляется стрелочка, которая переворачивается при клике


body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	display: block;
	margin: 0px 0px 0px 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	transition: transform 0.3s ease 0s;
}

body._touch .menu__list > li.active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
 }

 body._touch .menu__list > li.active .menu__arrow {
	 transform: rotate(-180deg);
 }
*/
