
// Container's maximum width

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;

// Breakpoints map

$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 489.98;

// Colors

$bright-grey: #393D46;
$bermuda-gray: #7987A5;
$cornflower-blue: #F6F7FB;
$polo-blue: #9BAAD3;
$cerulean-blue: #3246D3;
$biscay: #1C295D;
$white: #fff;
$white-lilac: #f5f5fb;
$gray: #ccc;
$persimmon: #FF6647;
$carnation: #F86549;

