html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// main styles for the layout

body {
  @media (max-width: $md1+px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;

  @media (max-width: $md4+px) {
    padding: 0;
  }
}

// -----------------------------------------------------------------------------
// My settings for the main page
// -----------------------------------------------------------------------------

.page {
  position: relative;

  display: flex;
  @media (max-width: $md1+px) {
    display: flex;
  }
  @media (max-width:1024px){
    flex-wrap: wrap;
  }
}

.left-navi {
  z-index: 1;
    width: 131px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 23;
  transition: all .3s ease-in-out;
}

.main-board {
  flex-basis: 980px;
  @media (max-width: $md1+px) {
    flex-basis: 980px;

  }
  
  @media (max-width:1125px){
    flex-basis: 680px;
  }

  background-color: #fcfcfc;
}

.main-aside {
  min-width: 0;
  background: #c4c4c4;
  box-shadow: 0px 10px 43px rgba(123, 131, 203, 0.55);
  border-radius: 10px;
  flex-basis: 35%;
  @media (max-width:$md1+px){
     flex-basis: 35%; 
  }
  @media (max-width:1024px){
    flex-basis: 100%;
  }
}

.main-aside__bg {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  @media (max-width:1024px){
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 50px 0 0;
  
  }

  @media (max-width:$md3+px){
    flex-direction: column;
    align-items: center;
  }
}
